* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: yellow;
    flex-flow:  row nowrap;
    height: 800px;
}

.flex-item {
    width: 100%;
    background: red;
    color: #fff;
}

.flex-item:nth-child(3) {
    align-self: flex-end;
}

.flex-item:nth-child(4) {
    align-self: center;
    order: -1;
}

.flex-item:nth-child(2) {
    align-self: stretch;
}